#include "RetroPad.dtsi"

/ {
        kscan0 {
                compatible = "zmk,kscan-gpio-matrix";
                label = "default_kscan";
                diode-direction = "col2row";

                row-gpios = <&pro_micro  31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                            <&pro_micro  29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                            <&pro_micro   2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                            <&pro_micro 115 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                            <&pro_micro 113 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

                col-gpios = <&pro_micro  10 GPIO_ACTIVE_HIGH>,
                            <&pro_micro   9 GPIO_ACTIVE_HIGH>,
                            <&pro_micro 106 GPIO_ACTIVE_HIGH>,
                           <&pro_micro 104 GPIO_ACTIVE_HIGH>;
        };
};